@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:wght@300&display=swap");

:root{
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0, 0, 0, 0.7);
  --primary-green: rgb(62, 202, 62);
  /* --primary-whitesmoke: rgb(201, 201, 201); */

}

body{
  font-family: "Roboto Condensed", sans-serif !important;
  background: #0f0f0f;
}

/*************************** NAVBAR *************************************/

nav{
  z-index: 2;
}

.logo{
  margin-top: 1.25rem;
  width: 12rem;
}

/*********** MENU LINKS *************/
 nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  margin: 0;
  
  
}

nav ul li {
  text-transform: uppercase;
  
  
}

 .navbar-transparent{
    border-width: 0;
    /* -webkit-box-shadow: 0px 0px; */
    box-shadow: 0 0;
    background-color: rgba(0,0,0,0.0);
    /* background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%); */
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  /* padding: 10px !important; */
  
  
}

.navbar-brand {
  max-width: 17.25rem;
  /* padding: 0 !important; */
  height: 6rem !important;
  
  
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/*************************** HEADER *************************************/

.header-wrapper{
  position : relative;
  background: #161415  url(./images/Background/header-background.jpeg) no-repeat center fixed;
  background-size: cover !important;
  background-position: center;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  text-align: center;
  
  overflow: hidden;
}

/* .font-effect-fire-animation {
  display: flex;
  font-size: 70px !important;
  font-family: 'Luckiest Guy', cursive !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */

#name{
  font-size: 75px !important;
  font-family: 'Luckiest Guy', cursive;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  font-weight: bold;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width: 768px){
  #name{
  font-size: 50px !important;
  font-family: 'Luckiest Guy', cursive;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  font-weight: bold;
  }

  h1{

  }
}

/*************************** TYPED TEXT *************************************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 1.7rem !important;
    /* color: var(--primary-white); */
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
 
}

/*************************** HEADER MAIN OFFER BUTTON **********************************************/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 4rem;
  background-color:var(--primary-orange);
  font-weight: bold;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

/* scrolldown link */
/* .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: red;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: red;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
h.scrolldown a:hover { color: #11ABB0; } */

/*************************** PARTICLES JS **********************************************/

.tsparticles-canvas-el{ 
  /* display: none; */
  position: absolute;
  height: 100vh;
  /* min-height: 580px; */
  width: 100vw;
  z-index: 1;
  /* margin: 0;
  padding: 0; */
}

@media(max-width: 768px){
  .particles-canvas{
    display: none;
  }
}

/*************************** ABOUT ME *************************************/
#aboutme {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   margin: 0 !important;
   overflow: hidden;
   max-width: 100% !important;

  
}
#aboutme .tsparticles-canvas-el{
  display: none;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutme p {
   line-height: 30px;
   color: whitesmoke;
   margin-right: 200px;
   
}



.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
}

.about-heading {
  color: var(--primary-orange);
  font-weight: bold;
  text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
#aboutme p {
    line-height: 30px;
    color: whitesmoke;
    margin: 0;
}

#aboutme{
  text-align: center;
}

}

/*************************** SKILLS COMPONENT *************************************/

.skillsGrid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  grid-auto-rows: auto;
  height: auto;
}

.skillsGrid img {
  height: 150px;
  width: 150px;
}

.skills{
  background: var(--primary-white);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 2rem;
}

.software{
  margin: 12px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.computer{
  margin-top: 50px;
  margin-bottom: 40px;
  /* margin: 12px; */
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.skills h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: bold;
}





/*------------ MEDIA ------------------*/

/* Small Screens max width 640px */
/* @media screen and (max-width: 320px) {
  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
    height: auto;
  }
.skillsGrid img {
  height: 75px;
  width: 75px;
}
.skills{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
} */

/* Medium Screens min width 641px change to 4 columns */
@media screen and (max-width:860px) {
  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: auto;
    height: auto;
  }
.skillsGrid img {
  height: 100px;
  width: 100px;
}
.skills{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
}

/*************************** EDUCATION COMPONENT *************************************/

.education {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}

.education h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: bold;
}

.education .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.education .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.education .box {
  height: 20rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.8rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.education .row {
  justify-content: center;
}
.education .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.education .box:hover .icon {
  color: var(--primary-dark);
}

.education .box:hover .circle {
  background: var(--primary-white);
}

.education .box:hover p {
  color: var(--primary-white);
}

 /* ************************* SERVICES COMPONENT ***********************************

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}

.services h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.service .row {
  justify-content: center;
}
.services .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.services .box:hover .icon {
  color: var(--primary-dark);
}

.services .box:hover .circle {
  background: var(--primary-white);
}

.services .box:hover p {
  color: var(--primary-white);
} */


/************************ EXPERIENCE *********************************/

.experience {
  padding: 0.7rem;
  background: var(--primary-white);
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: bold;
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}


.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}

/*------------ MEDIA ------------------*/

@media(max-width: 768px) {
.experience .container {
  padding-left: 0;
}

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  
  .timeline-block-left {
    float: none;
    direction: ltr; 
    width: 100%;
  }
}
 

/************************ PORTFOLIO (PROJECTS) *********************************/
.portfolio-wrapper {
  background: var(--primary-light-grey);
  padding: 3rem 0;
}

.portfolio-wrapper h1 {
  color: var(--primary-orange);
  font-weight: bold;
}

.para {
  text-align: center;
  font-size: 20px;
}

.portfolio-image {
  width: 15rem;
  border: 1px solid var(--primary-orange);
  padding: 0 0.5rem;
}

.portfolio-image-box {
  position: relative;
  /* margin: 1rem; */
  margin: 50px;
  padding: 20px;
  align-items: center !important;
  justify-content: center !important;

}

.soft{
  margin: 12px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center ;
}

.comp{
  margin: 12px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}


.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
}

h4{
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}

#description p {
  font-size: 0.3em;
}

/* Increase font sizes by 1.5x on bigger screens */
/* @media (min-width: 48rem) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.25em;
  }
  p {
    font-size: 1.5em;
  }
} */
/*------------ OVERFLOW BOX ------------------*/
.overflow {
  position: absolute;
   opacity: 0;
   background: var(--primary-black);
   width: 15rem;
   height: 8rem;
   top: 0;
  border: 1px solid var(--primary-red);
  cursor: pointer;
 
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.popupbox-wrapper {
  margin-top: 7rem;
}

/*------------ OVERFLOW BOX ------------------*/
.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer; 
  color: var(--primary-orange);
}

.hyper-link:hover {
  color: var(--primary-red);
}

/*------------ MEDIA ------------------*/
@media(max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }

  .video{
    width: 100%;
  }
}

@media(max-height: 570px) {
.popupbox-wrapper {
  height: 100%;
}
  .portfolio-image-popupbox {
    width: 50%;
  }
  .video{
    width: 100%;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
    .portfolio-image-popupbox {
      width: 30%;
    }
    
  }


  /*************************** TESTIMONIALS *************************************/
.testimonials{
  background-image: url(images/testimonials-bg.jpg);
  background-size: cover;
  background-color: var(--primary-black);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.testimonials h1{
  color: var(--primary-orange);
  padding: 3rem 0;
  text-transform: uppercase;
}

.testimonials-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background:var(--primary-transparent-black);
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left:5%;
  padding-right: 5%;
  height: 17.875;
}

.myCarousel h3 {
  color: var(--primary-orange);
  font-weight: 600;
  text-transform: uppercase;
}

.myCarousel p {
  color: var(--primary-grey);
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

/************************ CONTACTS COMPONENT *********************************/
.contacts {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
  font-weight: bold;
}

.contacts p {
  color: var(--primary-light-grey);
  font-size: 1.2rem;
  text-align: center;
}

/*------------------ INPUTS -------------------------------*/
.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}

/*---------------- MEDIA -----------------------*/
@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}
